* {
   margin: 0;
   padding: 0;
}
body {
   font-family: monospace;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: rgb(44, 44, 44);
   user-select: none;
}
.item {
   font-size: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid rgb(255, 217, 0);
}
.main {
   height: 300px;
   width: 300px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   position: relative;
}

p {
   margin: 5px;
   text-align: center;
   font-size: 25px;
   color: rgb(67, 255, 10);
   font-weight: 600;
   background-color: rgba(0, 0, 0, 0.363);
   padding: 10px 0px;
}
button {
   font-size: 15px;
   font-weight: 400;
   background-color: rgb(0, 23, 32);
   border: 2px solid rgb(255, 255, 255);
   color: #ffffff;
   padding: 7px 12px;
   cursor: pointer;
   letter-spacing: 2px;
   text-transform: uppercase;
   transition: all 0.5s;
}
.i1,
.i2,
.i3 {
   border-top: none;
}
.i1,
.i4,
.i7 {
   border-left: none;
}
.i3,
.i6,
.i9 {
   border-right: none;
}
.i7,
.i8,
.i9 {
   border-bottom: none;
}

h1,
h2 {
   color: #ffffff;
}
h1 {
   font-size: 40px;
}
.start,
.end,
.choose,
.difficulty,
.hardPage {
   display: none;
   position: absolute;
   backdrop-filter: blur(5px);
   width: 100%;
   height: 100%;
   text-align: center;
   padding-top: 40px;
   overflow: hidden;
}
.choose {
   transform: translateY(-100px);
}
.difficulty {
   transform: translateX(-100px);
}
.invisible {
   display: none;
   position: absolute;
   width: 100%;
   height: 100%;
}
.end {
   display: none;
   padding-top: 130px;
}
#again {
   margin-top: 15px;
}

/* Responsive for mobile device */
@media only screen and (max-width: 576px) {
   .main {
      width: 100%;
   }
}
